/*checkbox*/
.custom_checkbox {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
}

.custom_checkbox input {
  display: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;

  height: 18px;
  width: 18px;
  color: var(--main-color);
  background-color: #fff;
  border: 1px solid var(--main-color);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom_checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkmark:after {
  content: "";
  position: absolute;
  left: 5px;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 6px;
  height: 13px;
  border: solid var(--main-color);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/*content*/

.home_container {
  padding: 8vh 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home_left_side {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home_left_side_container {
  display: flex;
  flex-direction: column;
}

.home_image_container {
  width: auto;
}

.home_image_one {
  max-width: 90%;
  width: 100% !important;
  height: auto !important;
}

.home_image_two {
  display: block;
  margin-top: 12px;
  margin-bottom: 72px;
  width: 100% !important;
  max-width: 90%;
  height: auto !important;
}
.main_button_container {
  margin-top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.home_main_button {
  background-color: transparent;
  text-transform: uppercase;
  width: 100%;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 0;
  margin: 5em 0 2.5em;
  font-size: 1em;
  height: 7.5vh;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  transition: background-color 0.3s, color 0.3s;
}
.home_main_button:hover {
  color: #fff;
  background-color: var(--main-color);
}
.home_secondary_btn {
  font-size: 1.8vh;
  font-family: var(--main-font);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background-color: transparent;
  color: var(--main-color);
  cursor: pointer;
  border: 1px solid var(--main-color);
  padding: 5px 10px;
  margin: 10px auto 25px;
}
.home_button_desktop_txt {
  display: none;
  font-family: var(--main-font);
  font-size: 5vw;
}
.home_button_mobile_txt {
  display: block;
  font-family: var(--main-font);
  font-size: 5vw;
}
.spotify_svg {
  font-size: 1.2em;
  width: 2.5em;
  height: 2.5em;
}
.home_checkbox_text {
  font-family: var(--main-font);
  font-size: 2.3vh;
  color: var(--main-color);
}
.spotify_status_container {
  display: flex;
  height: 8vh;
  text-align: center;
  align-items: center;
}
.spotify_status {
  display: flex;
  gap: 20px;
  font-family: var(--main-font);
  font-size: 2.5vh;
  color: var(--main-color);
}
.icon_box {
  font-size: 1em;
  width: 2em;
  height: 2em;
  min-width: 2em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid var(--main-color);
  background-color: transparent;
  color: var(--main-color);
  cursor: pointer;
}
.soc_icon {
  height: 1em;
}

.home_right_side {
  height: 100%;
  text-align: center;
  width: 100%;
}

.home_right_img {
  object-fit: cover;
  border-radius: 100em 100em 0 0;
  background-color: #fff;
  width: 100%;
}
.home_right_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.home_right_earthgangpng {
  max-width: 30vh;
  width: 100%;
  height: initial !important;
  margin-top: 10px;
}
.home_left_bottom_container {
  width: 100%;
}
.footer_container {
  border-top: 1px solid var(--main-color);
  font-family: var(--main-font);

  color: var(--main-color);
}
.footer_container > p {
  padding-top: 15px;
  padding-bottom: 15px;
}

@media screen and (min-width: 1081px) {
  .home_image_one {
    max-width: 70vh;
  }

  .home_image_two {
    max-width: 70vh;
  }
  .home_button_desktop_txt {
    display: block;
  }
  .home_button_mobile_txt {
    display: none;
  }

  .home_sub_container {
    flex-direction: row;
  }
  .home_image_container {
    width: auto;
  }

  .home_right_container {
    width: 100%;
  }
  .main_button_container {
    margin-top: -113px;
    width: 52%;
  }
  .home_left_bottom_container {
    width: 55%;
  }
  .home_right_side {
    width: 40%;
  }
  .footer_container {
    font-size: 3.7vh;
    line-height: 4.5vh;
  }
  .home_left_side {
    padding-right: 5vh;
  }
  .home_main_button {
    margin: 0 0 8px;
  }
  .home_button_desktop_txt {
    font-size: 2.4vh;
  }
  .home_button_mobile_txt {
    font-size: 2.4vh;
  }
}

@media screen and (max-width: 1080px) {
  .footer_container {
    font-size: 5.6vw;
    line-height: 6.5vw;
  }
}
